:root {
    --primary-color: #0f1c3f;
    --secondary-color: #d4af37;
    --accent-color: #ffd700;
    --background-color: #f0f2f8;
    --text-color: #333;
    --light-text: #ffffff;
    --subtitle-text: #9b9797;
    --box-shadow: 0 4px 6px rgba(15, 28, 63, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans Bengali', Arial, sans-serif;
    line-height: 1.8;
    color: var(--text-color);
    background-color: var(--background-color);
}

.bengali-numeral {
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.banner {
    position: relative;
    margin: 1rem 0;
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.banner-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-title {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.banner-subtitle {
    color: var(--subtitle-text);
    font-size: 1rem;
    font-weight: 400
}

.content-section {
    background-color: white;
    border-radius: 15px;
    padding: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.unordered-list {
    margin: 0px;
}

.content-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
}

.section-title {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    padding-left: 15px;
    border-left: 5px solid var(--secondary-color);
    display: inline-block;
    position: relative;
}


.rule-list {
    list-style: none;
    padding-left: 0;
}

.rule-list li {
    margin-bottom: 1.5rem;
    padding: 1rem 0.75rem 1rem 3rem;
    position: relative;
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.rules-list li::before {
    content: '•';  
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    font-size: 1.2rem;
}

/* Specific style for the last rule (timeline item) */
.rules-list li:last-child {
    content: '';
    padding-left: 0;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 0rem;
}

.rules-list li:last-child(2)::before {
    content: '';
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: white;
}

.rules-list li:nth-last-child(2) img{
    height: 600px;
    width: 540px;
}

.rules-list li:nth-last-child(2){
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rule-list li:hover {
    background-color: #f0f0f0;
}

.prize-list li::before,
.conditions-list li::before {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 1.2rem;
}

.prize-list {
    list-style-type: none;
    padding-left: 0;
}

.prize-list li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}
.prize-list li {
    position: relative;
    padding-left: 40px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.rules-list li,
.conditions-list li {
    padding-left: 40px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.prize-list li::before {
    content: '';
    background-image: url(/img/star-medal.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.rules-list li::before,
.conditions-list li::before {
    content: '•';
}

.hashtag {
    color: var(--primary-color);
    background-color: var(--accent-color);
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: 500;
    display: inline-block;
    transition: transform 0.3s ease;
}

.hashtag:hover {
    transform: scale(1.05);
}

.social-platform {
    color: var(--primary-color);
    font-weight: 600;
    background: linear-gradient(to bottom, transparent 50%, var(--secondary-color) 50%);
    background-size: 100% 200%;
    background-position: 0 10%;
    padding: 0 4px;
    margin: 0 2px;
    border-radius: 3px;
    transition: background-position 0.3s, color 0.3s;
    text-decoration: none;
}

.social-platform-gen {
    color: black;
    font-weight: 600;
}

.social-platform:hover {
    background-position: 0 100%;
    color: var(--primary-color);
}

.timeline {
    display: inline-flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light-text);
    padding: 6px 12px;
    border-radius: 20px;
    margin-left: 10px;
    position: relative;
    transition: transform 0.3s ease;
}

.timeline:hover {
    transform: scale(1.05);
}

/* .timeline::before {
    content: '⏱️';
    margin-right: 8px;
} */

.timeline-date-1,
.timeline-date-2 {
    color: var(--secondary-color);
    font-weight: 600;
    margin: 0 5px;
}

.app-download {
    text-align: center;
    margin-bottom: 2rem;
}

.download-image-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.background-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.sticky-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}

.sticky-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-visible .sticky-container {
    display: none;
}

.download-buttons {
    position: absolute;
    bottom: 20%;
    left: 68%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}

.download-button img {
    height: 60px;
}

.download-button-footer img {
    height: 30px;
}

.download-button {
    transition: transform 0.3s ease;
}

.download-button:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 0 15px;
    }

    .content-section {
        padding: 2rem;
    }

    .section-title {
        font-size: 1.7rem;
    }

    .rule-list li {
        padding: 1rem 1rem 1rem 2.5rem;
    }

    .prize-list li::before,
    .rules-list li::before,
    .conditions-list li::before {
        left: 0.7rem;
        top: 0.9rem;
    }

    .download-buttons {
        left: 70%;
        bottom: 10%;
        flex-direction: row;
        align-items: center;
    }

    .download-button img {
        height: 30px;
    }
    .banner {
       
        margin: 1rem 0;
        
        height: auto;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: var(--box-shadow);
    }

    .banner-title {
        font-size: 1rem;
        margin-bottom: 0.8rem;
        font-weight: 500;
    }
    
    .banner-subtitle {
        color: var(--subtitle-text);
        font-size: 0.8rem;
        font-weight: 400
    }

    .rules-list li:nth-last-child(2) img{
        height: 400px;
        width: 360px;
    }
}

@media (max-width: 480px) {
    .content-section {
        padding: 1.5rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    /* .rule-list li {
        padding: 0.8rem 0.8rem 0.8rem 2.2rem;
    } */

    /* .prize-list li::before {
        content: '';
        background-image: url(/img/star-medal.png);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    } */

    .prize-list li:last-child::before {
        position: absolute;
        left: 0.8rem;
        top: 2rem;
        font-size: 1.2rem;
        color: var(--primary-color); 
    }

    .prize-list li::before {
        content: '';
        background-image: url(/img/star-medal.png);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 48%;
        transform: translateY(-50%);
    }

    .timeline {
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }
    .banner-title {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
    }
    
    .banner-subtitle {
        color: var(--subtitle-text);
        font-size: 0.7rem;
        font-weight: 300
    }

    .rules-list li:nth-last-child(2) img{
        height: 300px;
        width: 270px;
    }
}

.section-divider {
    width: 50%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}



/* Logo styling */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 150px;
}

/* Mobile responsive logo */
@media (max-width: 767px) {
    .logo-image {
        width: 100px; /* Smaller logo for mobile */
    }
}

/* Sticky download button */
#sticky-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: transparent; /* transparent so inner container's border-radius shows */
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
  
#sticky-actions .sticky-inner {
    background-color: #001440;
    max-width: 1150px;
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 0.75rem;
}

.contact-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}
  
@media (min-width: 768px) {
    .sticky-icon {
        width: 4rem;
        height: 4rem;
    }
}
  
.sticky-icon i {
    font-size: 1.5rem;
}
  
.download-btn {
    background-color: #e8bd59;
    color: #001440;
    font-weight: bold;
    text-align: center;
    font-size: 0.875rem;
    padding: 0.75rem 0.75rem;
    border-radius: 9999px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
  
@media (min-width: 768px) {
    .download-btn {
        font-size: 1.125rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}
  
/*non sticky download buttons*/
#actions-footer {
    background-color: #001440;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    z-index: 50;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
}
  
.actions-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
  
/* Contact button responsive sizing */
@media (min-width: 768px) {
    .actions-icon {
        width: 4rem;
        height: 4rem;
    }
    
    .actions-icon i {
        font-size: 1.5rem;
    }
}

/* Mobile optimized contact buttons */
@media (max-width: 767px) {
    .actions-icon {
        width: 2.25rem; /* Smaller contact buttons for mobile */
        height: 2.25rem;
    }
    
    .actions-icon i {
        font-size: 1.125rem; /* Smaller icons for mobile */
    }
    
    .contact-buttons {
        gap: 0.5rem; /* Reduced gap for mobile */
    }
    
    #actions-footer, #sticky-actions .sticky-inner {
        gap: 0.75rem; /* Less gap between elements for mobile */
        padding: 0.75rem 1rem; /* Slightly reduced padding */
    }
    
    .download-btn {
        font-size: 0.75rem; /* Smaller font for mobile */
        padding: 0.5rem 0.625rem; /* Slightly reduced padding */
    }
}
  