.main-banner{
    background-image: url(../img/OverviewBanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .main-banner{
        background-image: url(../img/OverviewBanner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 48vh;
    }
}
/* .slider-banner-image{
    height: 100vh;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .slider-banner-image{
        height: 48vh;
    }
} */